:root {
    --main-color: #212121;
    --sec-color: #757575;
    --act-color: #2196F3;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #212121;
}
.section {
    padding: 94px 0;
}

.container {
    padding: 0 15px;
    width: 1200px;
    border: 1px solid red;
    margin: 0 auto;
}

.hedden-elem {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}
/* ===============Header styles 🧐 starts here========== */

nav,
.links,
.contacts,
header .container {
    display: flex;
    justify-content: space-between;
}

header{
    border-bottom: 1px solid #ececec;
}
header .logo {
    margin-right: 93px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--act-color);
}

.logo-color-black {
    color: var(--main-color);
    display: inline-block;
    margin-right: 5px;
}
.contacts li a,
.links li a {
    margin-right: 50px;
    display: inline-block;
    padding: 30.5px 0;
    color: var(--main-color);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.links li:last-child a {
    margin-right: 0px;
    
}

.contacts li a {
    margin: 0 0 0 50;
    color: var(--sec-color);
}

.contacts li a:hover,
.contacts li a:focus,
.links li a:focus,
.links li a:hover {
    color: var(--act-color);
}

.contacts li:first-child a {
    margin-left: 0px;
}
/* ===============Header styles 🧐 ends here========== */

.links {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
  }
  .contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
  }
  .links:hover {
    color: var(--active-color);
  }
  .contacts:hover {
    color: var(--active-color);
  }
  .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: #FFFFFF;
    background-color: #2F303A;
  }
  .title-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    color: #fff;
    background-color: #188CE8;
  }
  .hidden {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.7;
    overflow: hidden;
    opacity: 0;
  }
  .benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .second-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.7;
  }
  .sub-title {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.4;
    color: #757575;
  }
  .sub-benefits {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  .team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
  }
  .team-jobs {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
  }
  .address,
  .communication {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    background-color: #2F303A;
  }
  .communication {
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
  }
  button:hover {
    color: #fff;
    background-color: #2196F3;
  }
  button:focus {
    color: #212121;
    background-color: #F5F4FA;
  }
  .sub-title-buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .button-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .image-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
  }
  .image-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
  }
